venv/
media/
static/
staticfiles/
venv/
management/
__pycache__
.env
celery_beat.log
celerybeat-schedule.dir
celerybeat-schedule.bak
celerybeat-schedule.dat
celery_worker.log
LesEtaps.txt
.DS_Store
db.sqlite3
ISAinvest.py

